<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1">
<head>
<meta charset="utf-8" />
<title>403 : Gestion des comptes bancaires</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-primary">
				<div class="panel-heading">Problème d'authentification</div>
				<div class="panel-body">
					<span class="text-danger"> Vous n'avez pas le droit à cette
						opération </span>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
